In [2]:
from xml.dom.minidom import Childless
from dash import Dash, html, dcc
import plotly.express as px
import pandas as pd
from PIL import Image
import numpy as np
import os
import pysd

#model = pysd.read_vensim('v1.mdl')

model = pysd.load("v1.py")

stocks = model.run()

stocks

,FINAL TIME,INITIAL TIME,SAVEPER,TIME STEP,software development rate,development software,nominal productivity,requirements
0,100,0,1,1,3,0,3,100
1,100,0,1,1,3,3,3,97
2,100,0,1,1,3,6,3,94
3,100,0,1,1,3,9,3,91
4,100,0,1,1,3,12,3,88
...,...,...,...,...,...,...,...,...
96,100,0,1,1,0,102,3,-2
97,100,0,1,1,0,102,3,-2
98,100,0,1,1,0,102,3,-2
99,100,0,1,1,0,102,3,-2
100,100,0,1,1,0,102,3,-2

In [12]:

for i in stocks["requirements"]:
    if i == 100:
        print(i)

TypeError: cannot unpack non-iterable int object

In [17]:
stocks["requirements"].loc[1]

97

In [21]:
count = 0
for i in stocks["requirements"]:
    count = count + 1
    if i<0: 
        print(count)
        break
stocks["requirements"].loc[35]

35